
body{
  margin-top: 70px;
}

/* new style */
.container{
  /*width: 960px;*/
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
  color: #ffffff;
  font-family: 'IRANSans';
  line-height: 22px;
  min-width: 970px !important;
}

.blueSection{
  background: url("../images/callout-bar-blue.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orangSection{
  background: url("../images/bkg-orange-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.greenSection{
  background: url("../images/g01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blueSection h2{
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'webYekan', Tahoma;
}

.emptyBtn{
  background: transparent;
  color: #ffffff;
  padding: 10px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}
.emptyBtn:hover{
  text-decoration: none;
  color: #ffffff;
}

.blueBtn{
  background-color: #51B9ED;
  color: #ffffff;
  padding: 10px;
  border: 3px solid #0f99d6;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
}
.blueBtn:hover{
  text-decoration: none;
  color: #ffffff;
}

.threeSection{
  height: 200px;
  margin: 0 auto;
  text-align: center;
  direction: rtl;
  font-family: 'IRANSans';
  line-height: 22px;
  color: #1A99D5;
}

.componentTitle{
  height: 35px;
  width: 100%;
  line-height: 22px;
  font-family: 'webYekan';
  text-align: right;
  padding-right: 20px;
  font-size: 16px;
  padding-top: 5px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
}

.componentBody{
  width: 100%;
  height: 470px;
  border-bottom: 2px solid #EBA641;
  border-left: 2px solid #EBA641;
  border-right: 2px solid #EBA641;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}

.componentBody li, .componentBody li a{
  color: #764701;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 11px;
  text-decoration: none;
}

.componentBody a{
  text-decoration: none;
}

.componentBody a img{
  padding: 8px;
  padding-top: 10px;
}

footer{
  background: #0A3C6E;
  width: 100%;
  height: 300px;
}

.footerTop{
  width: 100%;
  height: 30px;
  background-color: #80C342;
}

.footerBody{
  width: 100%;
  height: 220px;
}

.footerBottom{
  width: 100%;
  height: 50px;
  background-color: #002441;
}

.footerTitle{
  border-bottom: 1px dashed #769bc0;
  margin-bottom: 20px;
  padding-bottom: 6px;
  font-family: 'webYekan', Tahoma;
  font-size: 14px;
  color: #e6e6e6;
}

.footerBodyContent{
  font-family: 'IRANSans', 'Tahoma';
  font-size: 12px;
  color: #d5dadf;
}

.footerBodyContent li a{
  color: #d5dadf;
  text-decoration: none;
}
.footerBodyContent li a:hover{
  color: #e98b11;
}

.footerSocial li{
  padding-bottom: 5px;
}

.paragraphSection{
  margin-top: 10px;
  text-align: justify;
  border: 1px solid orange;
}

.tooltip{
  font-family: 'IRANSans', 'Tahoma';
  font-size: 10px;
}

.form-control-feedback{
  padding-left: 15px;
  padding-top: 2px;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu{
  border-top: 3px solid #80c342;
}

.dropdown-menu > li > a{
  padding: 6px 25px;
}

#registerForm .form-group input, #registerForm .form-group select, #registerForm .form-group option,
#safiranComplateForm .form-group input, #safiranComplateForm .form-group select, #safiranComplateForm .form-group option{
  font-size: 11px;
}

.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}

.col-1{
  width: 8.333333333333333%;
}

.col-2{
  width: 16.66666666666667%;
}

.col-3{
  width: 25%;
}

.col-4{
  width: 33.33333333333333%;
}

.col-5{
  width: 41.66666666666667%;
}

.col-6{
  width: 50%;
}

.col-7{
  width: 58.33333333333333%;
}

.col-8{
  width: 66.66666666666666%;
}

.col-9{
  width: 75%;
}

.col-10{
  width: 83.33333333333333%;
}

.col-11{
  width: 91.66666666666666%;
}

.col-12{
  width: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
  padding: 15px;
  float: right;
  min-height: 1px;
  position: relative;
}

/* new style */

/* side bar */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-right: 250px;
}

#wrapper.toggled {
  padding-right: 0px;
  margin-right: 0px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  /*margin-left: -250px;*/
  overflow-y: auto;
  background: #3D4A53;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 0;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: calc(100% - 250px);
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  width: 100%;
}

/* Sidebar Styles */

.sidebar-nav {
  position: relative;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 10px;
  line-height: 40px;
}

.sidebar-nav li:after {
  background: #4A5A65;
  content: "";
  display: block;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'IRANSans', 'Tahoma';
  font-size: 12px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: #37424A;
}

.sidebar-nav li a:hover .sidebarIcon {
  color: #FB5F5A;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  border: 0px;
}

.sidebar-child li a{
  padding-right: 20px;
}

.sidebarIcon{
  color: #328A66;
  font-size: 18px;
  padding-top: 9px;
  float: right;
  padding-right: 5px;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


/* side bar */

body{
  /*background: #d8ebf2 url("../images/pattern.png") repeat-x scroll 0 200px !important;*/
  direction: rtl;
  text-align: right;
  min-width: 1000px;
  /*background: #d8ebf2;*/
}

#extraContent {
  border-bottom: 1px solid #d5dfe6;
  padding-top: 5px;
  -webkit-box-shadow: 0px 0px 8px 2px #888888;
  -moz-box-shadow: 0px 0px 8px 2px #888888;
  box-shadow: 0px 0px 8px 2px #888888;
  background: #F4F4F4;
  position: absolute !important;
  top: 0px;
  width: 100%;
}

#extraContent img{
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.cartPos{
  position: absolute !important;
  left: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 10;
  width: 22%;
  height: auto;
}

.cartPos img{
  max-width: 100%;
  height: auto;
  width: auto\9;
  position:relative;
  left:0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;
}

.cartPos img:hover{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.right{
  font-family: "BNazanin", Tahoma;
  font-size: 16px;
  line-height: 16px;
}

.ehdaCardTitle:after{
  background: #eb7a5c none repeat scroll 0 0;
  content: "";
  display: block;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 100px;
}

.ehdaCardTitle{
  font-family: 'webYekan';
}

.ehdaCardP{
  direction: rtl;
  text-align: justify;
  color: #000000 !important;
  font-family: 'BNazanin', 'Tahoma';
  font-size: 17px;
  margin-top: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
}

.form-group label, .form-group div {
  direction: rtl;
  float: right;
  text-align: right !important;
  font-family: 'webYekan', Tahoma;
  font-size: 12px;
}

.form-group div input, .form-group div select{
  font-size: 12px;
}

.form-group{
  padding-right: 25px;
  padding-left: 25px;
}

.form-control option{
  padding-right: 10px;
  font-size: 13px;
}

.alertP{
  margin-bottom: 0px;
  direction: rtl;
  text-align: right;
  padding-top: 12px;
  padding-bottom: 10px;
  font-family: "BNazanin", Tahoma;
}

.formRequired {
  /*font-size: 12px;*/
  /*position: relative;*/
  /*top:+10px;*/
}

#cbRegisterBirthDate{
  /*width: calc(100% - 25px);*/
  float: right;
}

.dashtLine{
  background: #265A88 none repeat scroll 0 0;
  display: block;
  height: 1px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 15px;
  width: 100%;
}

#chInput input{
  float: right;
  margin-left: 0px;
}

#chInput label{
  float: left;
  line-height: 22px;
  padding-right: 20px;
  position: absolute;
}

.btn-success-med { background-color: hsl(96, 45%, 85%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebf5e5", endColorstr="#d5e9c7"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ebf5e5), to(#d5e9c7)); background-image: -moz-linear-gradient(top, #ebf5e5, #d5e9c7); background-image: -ms-linear-gradient(top, #ebf5e5, #d5e9c7); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebf5e5), color-stop(100%, #d5e9c7)); background-image: -webkit-linear-gradient(top, #ebf5e5, #d5e9c7); background-image: -o-linear-gradient(top, #ebf5e5, #d5e9c7); background-image: linear-gradient(#ebf5e5, #d5e9c7); border-color: #d5e9c7 #d5e9c7 hsl(96, 45%, 83%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13); -webkit-font-smoothing: antialiased; }

.form-control-feedback{
  left: 15px;
}

.colorSur{
  color: #265a88;
}

.borderRadius{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.angelsPic{
  width: 100%;
  border: 3px #ffffff solid;
  cursor: pointer;
  ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 10;

  /* Good browsers */
  opacity: 1;
}

.angelsPic:hover{
  border: 3px #477F31 solid;
  ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 10;

  /* Good browsers */
  opacity: 1;
}

.ehdaCardP .tooltip-inner{
  background-color: green;
  font-family: 'IRANSans', 'Tahoma';
}
.ehdaCardP .tooltip-arrow{
  color: green;
}

.nav .tooltip{
  font-family: 'IRANSans', 'Tahoma';
  font-size: 11px;
}

.btn-brown { background-color: hsl(37, 100%, 38%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb43d", endColorstr="#c17700"); background-image: -khtml-gradient(linear, left top, left bottom, from(#ffb43d), to(#c17700)); background-image: -moz-linear-gradient(top, #ffb43d, #c17700); background-image: -ms-linear-gradient(top, #ffb43d, #c17700); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb43d), color-stop(100%, #c17700)); background-image: -webkit-linear-gradient(top, #ffb43d, #c17700); background-image: -o-linear-gradient(top, #ffb43d, #c17700); background-image: linear-gradient(#ffb43d, #c17700); border-color: #c17700 #c17700 hsl(37, 100%, 32%); color: #333 !important; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39); -webkit-font-smoothing: antialiased; }


/*.........................................................

    TAHA works starts from here and lasts forever :)

.........................................................*/


.taha {
  font-family: webYekan;
}

.taha-formRequired {
  /*    color: red;*/
  font-size: 12px;
  position: relative;
  top:+10px
}

.taha-formHint {
  color: gray;
  font-size: 10px;
  padding: 0 20px 5px 20px;
}

#divFormFeed {
  padding: 10px;
  text-align: center;
}

.pdate{
  width: 615px;
  float: right;
}


.taha-doubleCheck {
  display: none;
}

.formRegister-doubleCheck {
  display: none;
  padding: 5px 10px;
  width: 100%;
  border: 1px #D0D0D0 solid;
  border-radius: 5px;
  font-style: italic;

}

.formRegister-inputs {
  /*	display: none;*/
}